<h1>SeraQChoveu App | Recuperar senha</h1>

<p>Para recuperar sua senha por favor clique no link abaixo:</p>

<%= link_to "Recuperar senha", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este link permanecerá ativo por duas horas.</p>

<p>Se você não solicitou esta recuperação de senha, por favor ignore este e-mail.</p>

Desejamos um dia de muito sol!
SeraQChoveu App Team
