<% provide(:title, "Sua mensagem") %>

<p>
  <strong>Nome:</strong>
  <%= @contato.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @contato.mensagem %>
</p>

<%= link_to 'Voltar', root_path, class: "btn btn-primary" %>
