<% provide(:title, 'Usu치rios') %>
<h1>Lista de Usu치rios</h1>

<%= will_paginate @users, :previous_label => "Anterior", :next_label => "Pr칩ximo" %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, :previous_label => "Anterior", :next_label => "Pr칩ximo" %>
