<% provide(:title, "Sobre") %>
<div class="center jumbotron">
  <h1>Bem vindo ao SeraQChoveu?</h1>
  <%= image_tag 'logo.png', width: 400, height: 400 %>
  <h2>
     <p>
     As férias são uma das épocas mais aguardadas do ano por qualquer pessoa
     independente da profissão, seja estudante, professor, engenheiro de software...
     Planejar as férias nem sempre é uma tarefa fácil, envolve escolher um local,
     estadia, compra de passagem, traçar um roteiro, enfim, se programar.
  	 É frustrante despender tanto tempo planejando, criar expectativa e, ao chegar
     no local, começa aquela chuva que não acaba mais!
  	 O SeraQChoveu? vem pra ajudar aqueles que querem planejar suas viagens com mais
     garantia.
     </p>
  </h2>
</div>
