<h1>SeraQChoveu?</h1>

<% unless current_user %>
  <%= link_to "Entrar com Facebook", user_facebook_omniauth_authorize_path %>
<% else %>
  <%= link_to "Sair", destroy_user_session_path, method: :delete %>
<% end %>
