<style>
      #map {
        height: 400px;
        width: 100%;
       }
</style>

<div id="map">
<h3>Teste do mapa do Google Maps</h3>
    <script>
      function initMap() {
        var recife = {lat: -8.05428, lng: -34.8813};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: recife
        });

        //Acho que isso aqui não fica aqui, talvez no model e retorne pra cá apenas o marcador desejado como variável
        var marker = new google.maps.Marker({
          position: recife,
          map: map
          title: 'Clique para mais informações'
        });
        //Informação de dentro do marcador, acho interessante um link para aí vir informações mais completas
        var contentString = '<h1>Cidade:</h1>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
      }
    </script>
</div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSGVPIVj04qsocZ79OWxcxiMeYyDkL4Mg&callback=initMap">
    </script>