<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
      
    <div id="map"></div>
    <script>
    
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: -8.05428, lng: -34.8813}
        });
        var locations = [
          ['Aracaju', -10.947247, -37.073082],
          ['Belém', -1.455779, -48.490197],
          ['Belo Horizonte', -19.924502, -43.935238],
          ['Boa Vista', 2.823510, -60.675833],
          ['Brasília', -15.794229, -47.882166],
          ['Campo Grande', -20.469711, -54.620121],
          ['Cuiabá', -15.601411, -56.097892],
          ['Curitiba', -25.424429, -49.265382],
          ['Florianópolis', -27.594870, -48.548219],
          ['Fortaleza', -3.731903, -38.526739],
          ['Goiânia', -16.686882, -49.264789],
          ['João Pessoa', -7.119496, -34.845012],
          ['Macapá', 0.035574, -51.070535],
          ['Maceió', -9.649849, -35.708949],
          ['Manaus', -3.119028, -60.021731],
          ['Natal', -5.779257, -35.200916],
          ['Palmas', -10.249091, -48.324286],
          ['Porto Alegre', -30.034647, -51.217658],
          ['Porto Velho', -8.761160, -63.900430],
          ['Recife', -8.05428, -34.8813],
          ['Rio Branco', -9.975377, -67.824898],
          ['Rio de Janeiro', -22.906847, -43.172896],
          ['Salvador', -12.972218, -38.501414],
          ['São Luís', -2.539110, -44.282905],
          ['São Paulo', -23.550520, -46.633309],
          ['Teresina', -5.092011, -42.803760],
          ['Vitória ', -20.297618, -40.295777],
          ];
          
        var infowindow = new google.maps.InfoWindow();
        var marker, i, contentString;
        //configurar o contentString para pegar as informações, ou apenas linkar.
        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map,
            title: locations[i][0]
          });
        
          marker.addListener('click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSGVPIVj04qsocZ79OWxcxiMeYyDkL4Mg&callback=initMap">
    </script>
  </body>
</html>
