html, body {height:100%; margin: 0;}

/*body {
    background-image: url("images/fundo.svg");
    background-repeat: no-repeat;
}*/

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

.geral {
    min-height:100%;
    position:relative;
    width:100%
}

footer {
    position:relative;
    bottom:0;
    width:100%;
    text-align:center
}
#navbar {background-color: #b6deff}
.container-cabecalho nav{display:inline-block}
.logo {
	color:#0099D0 ;
	font-weight: bold;
	font-family: Carvoting,Arial,Helvetica,Sans-serif;

	/*float: left*/}
.itens-menu {float: right; /*display: inline*/}
/*.clear {clear:both}*/
.dropdown-menu {background-color: #b6deff}

.container-conteudo {
	text-align: center;
	position:relative;}

.btn {background-color: #0098cf}
.btn nav a:hover{color:#b6deff}

#footer{background:#333;padding:5px;margin-top:40px}

.container-footer ul{text-align:center;list-style-type:none}

.nav-footer nav{flex:1 0 300px;margin:0 0 5px;text-align:center;display:inline-block;vertical-align: top}
.nav-footer nav a{color:#fff;text-decoration:none;display:block;padding-bottom:15px}
.nav-footer nav a:hover{color:#b6deff}
.nav-footer nav{margin:0 15px;text-align:left}
.container-footer h6{color:#fff;margin-bottom:5px}
