<footer class="footer">
  <small>
    <a href="http://seraqchoveu.herokuapp.com">SeraQChoveu? App</a>
    by Samir Ferreira
  </small>
  <nav>
    <ul>
      <li><%= link_to "Comentários",   '/comentarios' %></li>
      <li><%= link_to "Contato", '/contato' %></li>
    </ul>
  </nav>
</footer>
